*{
  margin: 0;
  padding: 0;
}
.container{    
  margin-top: 10px;
  width: 100%;
  padding: 10px;   
}
h1{      
  font-size: clamp(1rem, 5vw, 3rem);
  margin-top: 0;  
  margin-left: 15%;
  /* text-align: center; */
  text-transform: uppercase;
}

/* CONTEUDO INDEX */

.sobre {   
  width: 100%;
  padding: 20px;  
}

.sobre .imagem-sobre {
  display: grid;
  grid-template-columns: 50%;
  grid-template-areas: "imgsobre textosobre";
  justify-items: center;
}
.sobre .imagem-sobre .imgsobre{
  width: 80%;
  /* border-radius: 20%; */
  grid-area: imgsobre;  
}
.sobre .sobre-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  grid-area: textosobre;
  text-align: justify;  
}
.sobre .sobre-text p{
  text-indent: 30px;
  font-size: clamp(1rem, 1vw, 4rem);
}

@media (max-width: 800px){  
  h1{    
     text-align: center;
     margin-left: 0%;
  }
   /* CONTEUDO */
   .sobre{    
    padding: 0;
  }
  .sobre .imagem-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sobre .imagem-sobre .imgsobre{
    width: 70%;
  }
  .sobre .imagem-sobre .sobre-text{
    text-align: justify;
  }
}